.calendar__table{
    width: 90%;
    margin: auto;
    height: calc(100vh - 128px);
}
.calendar__tech{
    width: 20%;
}
.calendar__table th, .calendar__table td{
    text-align: center;
    border: 1px solid #dedede;
    border-right: 2px solid lightgray;
}
.table-block-active{
    padding: 0!important;
    width: 18%;
}
.table-block-active:hover{
    background-color: lightblue;
}
.table thead th{
    border: 2px solid lightgray;
}
table{
    border-spacing: 0;
    border-collapse: separate;
}
.pause{
    background: linear-gradient(-45deg, #ccc 1%, #fff 1%, #fff 49%, #ccc 49%, #ccc 51%, #fff 51%, #fff 99%, #ccc 99%);
    background-size: 20px 20px;
    background-position: 0 0;
    border: 2px solid lightgray!important;
}
.hour-pause{
    border: 2px solid lightgray!important;
}
.btn-cell-calendar {
    width: 100%;
    height: 100%;
    opacity: 0;
}
.table-block-choice{
    background:lightgreen;
}
.btn-large{
    width: 75%;
}
.table-block-active.dateDebut2 {
    background-color: lightsalmon;
    border: 3px solid #e86029;
    border-bottom: lightsalmon;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
}
.table-block-active.dateFin2 {
    background-color: lightsalmon;
    border: 3px solid #e86029;
    border-top: lightsalmon;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
}
.table-block-active.dateIntermed2 {
    background-color: lightsalmon;
    border-left: 3px solid #e86029;
    border-right: 3px solid #e86029;
    border-bottom: 0;
    border-top: 0;
}
th.text-center {
    padding: 0;
    vertical-align: inherit;
}
button.close {
    position: absolute;
    right: 30px;
}
.calendar_day_active::before {
    content: '⬇️ ';
}
.ref_suivi {
    font-weight: 600;
    border: 2px solid lightgreen;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: x-large;
    color: green;
}
th.border-none {
    border-left: none!important;
    border-top: 0!important;
}
.border-hour {
    border-left: 2px solid lightgray!important;
    border-right: 2px solid gray!important;
}
.inactive-td-calendar{
    background: linear-gradient(135deg, #ddd 1%, #fff 1%, #fff 49%, #ddd 49%, #ddd 51%, #fff 51%, #fff 99%, #ddd 99%);
    background-size: 10px 10px;
    background-position: 0 0;
}