main {
    text-align: center;
    padding-top: 50px;
    min-height: 600px;
}
a:hover{
    text-decoration: none;
}
div#navbarSupportedContent {
    justify-content: flex-end;
}
.navbar{
    padding: 15px 150px;
    box-shadow: 0px 2px 2px gray;
}
.link-rdv{
    color: #f56a05!important;
}
.link-rdv.active{
    font-weight: 600;
}
.hr-accueil {
    width: 50%;
    background-color: lightgray;
    height: 1px;
    opacity: 0.6;
}
.section-header{
    background-image: url("/assets/img/background-accueil.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.banner-suivi{
    margin-top: -30px;
    border: 2px solid white;
    box-shadow: 2px 2px 5px grey;
    text-align: center;
    max-width: 800px;
}
#num-suivi{
    width: 500px;
    height: 50px;
    padding-left: 20px;
}
.btn-suivi{
    height: 50px;
}
.bg-footer{
    background-color: #55AEDA;
}
.tab-employe {
    display: flex;
    justify-content: center;
}
.bg-flight{
    background-color: #e8e8e8;
    padding: 20px;
}
.bandeau-story {
    margin-top: 60px;
    margin-bottom: 60px;
}
.bandeau-story p{
    text-align: center;
    padding: 10px 30px;
    font-size: larger;
}
.bg-fixed {
    margin-top: 100px;
    background-image: url("/assets/img/background-accueil.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 30px 0;
}
/*Testimonial*/
.card {
    border: solid 1px #548e45;
    padding: 45px 50px 25px 60px;
    margin-top: 80px;
    background-color: #548e45;
    border-radius: 10px;
    color: #fff
}

.post-txt {
    font-size: 20px;
    margin-bottom: 0
}

.quote-img {
    position: absolute;
    top: 32px;
    left: 25px;
    width: 30px;
    height: 30px
}

.nice-img {
    width: 20px;
    height: 25px;
    margin-bottom: 7px
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #548e45;
    margin-left: 85px
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.profile-pic {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    left: 65px;
    margin-top: 15px
}

.profile-name {
    position: absolute;
    font-size: 22px;
    margin-top: 60px;
    left: 210px;
    color: #616161
}
.row.d-flex.justify-content-center {
    margin-bottom: 120px;
}
@media (min-width: 992px){
    .bandeau-story{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:991px){
    .navbar-nav{
        align-items: inherit;
        margin-top: 20px;
    }
    .container.d-flex.px-5.my-5.justify-content-around {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .banner-header{
        flex-direction: column-reverse;
        text-align: center;
    }
    h1{
        font-size: 2em;
    }
    .p-5.section-header {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    a.navbar-brand {
        width: 35%;
    }
    .navbar{
        padding: 15px 50px;
    }
    .bandeau-story{
        text-align: center;
    }
}
@media(max-width:768px){
    #img-banner{
        width: 70%;
    }
    a.navbar-brand {
        width: 60%;
    }
    .navbar{
        padding: 15px 10px;
    }
    .img-banner{
        align-self: center;
    }
    .banner-suivi{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    #num-suivi{
        width: 100%;
        margin-bottom: 15px;
    }
    .reassurance > h5{
        font-size: inherit;
        margin: 0 5px;
    }
    .reassurance img{
        width: 10%;
    }
}
